#what{
    .table{
        width: 100%;
        font-size: 14px;
        border-style: none;
        box-sizing: border-box;


        .heading{
            background: rgba(255, 255,255, 0.1);
            display: flex;
            border-bottom: 2px solid $black;
            font-weight: 600;
        }
        .row{
            background: rgba(255, 255,255, 0.05);
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $black;

            &:hover{
                background: rgba(255, 255,255, 0.1);
            }
        }

       
        .h-col1{
            padding: 13px 0 13px 16px;
            width: 25%;
        }
        .h-col2{
            padding-block: 13px;
            width: 35%;
            margin-left: -1px;
        }
        .h-col3{
            padding-block: 13px;
            width: 20%;
        }
        .h-col4{
            padding-block: 13px;
            width: 20%;
        }

        .col1{
            width: 25%;
            padding:9px 0 9px 16px ;
        }
        .col2{
            width: 35%;
            padding-block: 9px;
        }
        .col3{
            width: 20%;
            padding-block: 9px;
        }
        .col4{
            width: 20%;
            padding-block: 9px;

            a{
                color: $white;
                text-decoration: none;
                border-bottom: 1px solid white;

                &:hover{
                    color: $yellow;
                    border-color: $yellow;
                }
            }
        }
    }
}

@media (max-width:1024px) {
    #what{
        // margin-top: 96px;

        .table{
            .h-col2, .h-col3, .col2, .col3{
                display: none;
            }

            .h-col1, .col1{
                width: 70%;
            }
            .h-col4, .col4{
                width: 30%;
            }
        }
    }

}
@media (max-width:480px) {
    #what{
        // margin-top: 96px;

        .table{
            .h-col1, .col1{
                width: 60%;
            }
            .col4{
                width: 40%;
            }
        }
    }

}