// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import 'variables';
@import 'header';
@import 'common';
@import 'what';
@import 'skills';
@import 'contact';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.scroll-hidden::-webkit-scrollbar{
    display: none;
}


.theme {
    font-family: 'Lexend', sans-serif;
    // font-family: 'Libre Baskerville', serif;
    background: $black;
    color: $white;
    position: relative;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
    ::selection{
        background:$yellow;
    }

    .outer-container {
        width:100%;
        max-width:90%;
        margin-inline: auto;
        overflow-x: hidden;
    }

    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 45px;
        height: fit-content;
        position: fixed;
        top: 30%;
        right: 0;
        transform: translateY(-30%);
        border: 1px solid $white;
        border-right: none;
        padding-block: 14px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 9999999;
        background: $black;
    
        a{
            width: 24px;
            height: 24px;  
    
            object{
                width: 100%;
                height: 100%;
                
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    
        &:hover{
            transition: box-shadow 0.2s ease-in-out;
            box-shadow: 0px 0px 10px #e0a853;
        }
    }

    .upArrow{
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        bottom: 50px;
        right: 100px;
        z-index: 99999999999;
        box-shadow: 0px 0px 10px 2px $yellow;
        border-radius: 50%;
        background: $black;
    
        img{
            width: 100%;
            height: 100%;
        }
    }

}


@media (min-width:1450px) {
    .theme {
        .outer-container{
            max-width: 1140px;
            margin-inline: auto;
        }
    }
}


@media (max-width:768px) {
    .theme{
        .upArrow{
            right: 50px;
        }
    }
}